.book-card {
    display: flex;
    position: relative;
    align-items: flex-start;
    width: 80%;
    width: 600px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 16px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.favorite-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--primary-color);
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.book-image {
    flex-shrink: 0;
    margin-right: 16px;
}

.book-image img {
    width: 150px;
    height: 200px;
    border-radius: 4px;
    object-fit: cover;
}

.book-info {
    flex-grow: 1;
}

.book-info h3 {
    margin: 0 0 8px 0;
    font-size: 1.2rem;
    color: #333;
}

.book-info p {
    margin: 4px 0;
    color: #555;
    max-height: 120px;
}

.book-info strong {
    color: #333;
}

@media (max-width: 768px) {
    .book-card {
        flex-direction: column;
        align-items: center;
    }

    .book-image {
        margin-right: 0;
        margin-bottom: 16px;
    }

    .book-info h3 {
        text-align: center;
    }
}